body{
    font-family: arial,sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    text-align: center;
}
h1{
    color: #333;
}
#task{
    padding: 10px;
    font-size: 16px;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #ccc;
}
#add-button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#add-button:hover{
    background-color: #0056b3;
}
#todo-list{
    list-style: none;
    padding: 0;    
}
todo